

<div class ="m-5">
<h1 class ="mb-3">Stupide coaching</h1>
  <div class = "d-flex flex-column border-start border-5 ps-3">
    <div class="mb-1">
    <%= params[:ask]%>
    </div>
    <div class="fst-italic mb-2">
    - <%= @answer%>
    </div>
  </div>
<%= link_to "ask again", ask_path %>
</div>
