<h1 class="m-3">Stupide coaching</h1>

<p class="m-3">ask ur coach anything :</p>

<form class="input-group w-75 m-3" action="answer" data-turbo="false">
  <%# <div  class="d-flex flex-row p-2 bd-highlight"> %>
  <input class="form-control" type="text" name="ask">
  <input class="btn btn-primary" type="submit" value="Ask!">
  <%# </div> %>
</form>
